body{
    background-color:rgb(213, 182, 44);
}

.nav{
    background-color:rgb(58, 54, 54);
    padding:30px;
    font-size:30px;
    color:rgb(0, 0, 255);
    display:flex;
}
.header{
    padding:30px;
    position:relative;
    left:100px;
}
#header1{
    position:relative;
    cursor:pointer;
    left:10px;
    color:rgb(240, 232, 232);
    transition: 0.8s;
    transform: scale(1.2);
}
#header2{
    position:relative;
    cursor:pointer;
    left:450px;
    color:rgb(243, 240, 240);
    transition:0.8s;
    transform:scale(1.2);
}
#header3{
    position:relative;
    cursor:pointer;
    left:870px;
    color:rgb(248, 245, 245);
    transition:0.8s;
    transform:sclae(1.2);
}
#header1:hover{
    background-color:rgb(7, 7, 7);   
}
#header2:hover{
    background-color:rgb(8, 8, 8);
}
#header3:hover{
    background-color:rgb(8, 8, 8);
}
.middleside{
    display:flex;
    background-color:rgb(213, 182, 44);
}
#lorem1{
    color:blue;
    font-size:30px;
    font-family:italic;
    font-weight:20px;
    position:relative;
    margin:90px;
    padding:50px;
}
table{
    border:solid 3px;
    font-size:30px;
    position:relative;
    right:120px;
    top:80px;
    padding:40px;
}
th{
    border:solid 2px;
    border-radius:10%; 
    transition:0.8s;
    cursor:pointer;
}
th:hover{
    background-color:rgb(92, 210, 210);
}
td{
    border:solid 2px;
    cursor:pointer;
    transition:0.8s;
    
}
td:hover{
    background-color:rgb(91, 203, 203);
}
#lorem2{
color:blue;
font-size:30px;
font-family:italic;
font-weight:20px;
position:relative;
top:100px;
}
.fixedposition{
    position:fixed;
}
#button1{
    background-color:rgb(58, 157, 203);
    color:white;
    position: fixed;
    left:0px;
}
#fixed{
    position:fixed;
    left:75px;
}
.coment{
    display:flex;
    position:relative;
    top:250px;
    right:1350px;
   
}
#svg1{
   width:15px;
   position:relative;
   left:125px;
   bottom:12px;
  
}
#svg2{
width:15px;
position:relative;
left:90px;
bottom:12px;
}
#svg3{
    width:15px;
    position:relative;
    bottom:12px;
    left:93px;
}
#coment{
    position:relative;
    left:100px;
    top:135px;
}
#photo{
    position:relative;
    top:150px;
    border-radius:360%;
    left:90px;
}
#photo:hover{
    transform: scale(1.2);
}
input{
    position:relative;
    right:825px;
    top:315px;
    height:150px;
    width:200px;
    text-align:center;
}
.button{
    display:block;
    position:relative;
    top:345px;
}
#button2{
    position:relative;
    left:5px;
    border-radius:10%;
    background-color:aqua;
    cursor:pointer;
}
#button2:hover{
    background-color:rgb(9, 138, 138);
}
#button3{
    position:relative;
    bottom:21px;
    left:150px;
    border-radius:10%;
    background-color:rgb(38, 244, 59);
}
#button3:hover{
    background-color:rgb(6, 108, 6);
}
